<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}default.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="contentbox">
      {% block content %}{% endblock %}
    </div>
    <div id="footerbox">
      <p>Arachne v{{ version }}<br />Copyright © 2008, 2009 Yasser González
      Fernández &lt;<a href="mailto:yglez@uh.cu" title="Contactar al
      autor">yglez@uh.cu</a>&gt;</p>
    </div>
  </body>
</html>
