{% extends "base.html" %}

{% block title %}Arachne{% endblock %}

{% block content %}
<div id="logobigbox">
  <a href="{{ root }}" title="Ir a la página principal">
    <img id="logobig" src="{{ media_url }}logobig.png"
         alt="Arachne, un motor de búsqueda para archivos y directorios" />
  </a>
</div>
<div id="searchbox">
  <form action="{{ root }}results/" method="post">
    <div id="basicbox">
      <input id="query" type="text" name="query" value="" size="36" maxlength="2048" />
      <input type="submit" name="search" value="Buscar" />
      {% ifequal search_type "advanced" %}
      <a id="othersearch" href="{{ root }}basic/" title="Búsqueda básica">Búsqueda básica</a>
      {% else %}
      <a id="othersearch" href="{{ root }}advanced/" title="Búsqueda avanzada">Búsqueda avanzada</a>
      {% endifequal %}
      <input type="hidden" name="searchtype" value="{{ search_type }}" />
    </div>
    <div id="helpbox">
      <p>Introduzca los términos para realizar la búsqueda, aquellos que tengan
      menos de 3 caracteres serán ignorados. Puede utilizar
      <code>+término</code> para indicar que todos los resultados deben
      contener el término y/o <code>-término</code> para que ninguno lo
      contenga.</p>

      <p>Si es responsable de un sitio y quiere que sea indizado o su sitio
      está indizado actualmente y quiere que deje de estarlo puede escribir
        a <a title="Contactar al administrador"
             href="mailto:gnuaha7@gmail.com">gnuaha7@gmail.com</a>.</p>
    </div>
    {% ifequal search_type "advanced" %}
    <div id="advancedbox">
      <table id="advancedoptions" summary="Opciones avanzadas">
        <tr>
          <td class="optionname"><strong>Tipos de archivo</strong></td>
          <td class="optionvalue">
            <ul>
              <li>
                <input id="file" type="radio" name="filetype" value="file" />
                <label for="file">Buscar archivos solamente</label>
              </li>
              <li>
                <input id="dir" type="radio" name="filetype" value="dir" />
                <label for="dir">Buscar directorios solamente</label>
              </li>
              <li>
                <input id="both" type="radio" name="filetype" value="both" checked="checked" />
                <label for="both">Buscar archivos y directorios</label>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="optionname"><strong>Sitios</strong></td>
          <td class="optionvalue">
            <p>Selección:
              <a href="#" onclick="changeSites(1); return false;">Todos</a> |
              <a href="#" onclick="changeSites(-1); return false;">Invertir</a> |
              <a href="#" onclick="changeSites(0); return false;">Ninguno</a>
            </p>
            <ul id="sites">
              {% for site in sites %}
              <li>
                <input id="{{ site.id }}" type="checkbox" name="{{ site.id }}" checked="checked" />
                <label for="{{ site.id }}">
                  <a href="{{ site.url }}" title="Ir al sitio">{{ site.url }}</a>
                </label>
              </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    {% endifequal %}
  </form>
</div>
{% endblock %}
